<div flex fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="40%" fxFlex.lt-lg="80%" class="form-group">
        <mat-card-header>
          <mat-card-title style="text-align: center;">Register</mat-card-title>
          <!-- LOGO GOES HERE -->
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" autocomplete="off" >
            <label for="email"><span class="text-danger">*</span> Email</label>
            <mat-form-field appearance="outline">
                <input matInput placeholder="UltimateLister@serieslister.com" id="email" formControlName="email">
                <mat-hint>Your email will never be shared</mat-hint>
                <mat-error *ngIf="email.errors?.taken">Email is already in use</mat-error>
                <mat-error *ngIf="email.errors?.email">Must be a valid email</mat-error>
                <mat-error *ngIf="email.errors?.required">Email is required</mat-error>
            </mat-form-field>

            <label for="displayName"><span class="text-danger">*</span> Display Name</label>
            <mat-form-field appearance="outline">
                <input matInput placeholder="Ultimate Lister" id="displayName" formControlName="displayName">
                <mat-error *ngIf="displayName.errors?.minlength || displayName.errors?.required">Username must be 4 characters or longer</mat-error>
                <mat-error *ngIf="displayName.errors?.specialvalidate">Username can't contain a special character</mat-error>
                <mat-error *ngIf="displayName.errors?.maxlength">Username must be 16 characters or less</mat-error>
                <mat-error *ngIf="displayName.errors?.taken">Display Name is already in use</mat-error>
            </mat-form-field>

            <label for="password"><span class="text-danger">*</span> Password</label>
            <mat-form-field appearance="outline">
                <input matInput placeholder="*********" type="password" id="password" formControlName="password" [type]="passwordVisible ? 'text' : 'password'">
                <mat-icon matSuffix (click)="makePasswordVisible()" style="cursor: pointer;">
                    <span *ngIf="passwordVisible">visibility</span>
                    <span *ngIf="!passwordVisible">visibility_off</span>
                </mat-icon>
                <mat-error *ngIf="password.errors?.minlength || password.errors?.required">Password must be 8 characters or longer</mat-error>
                <mat-error *ngIf="password.errors?.uppervalidate">Password must contain an uppercase letter</mat-error>
                <mat-error *ngIf="password.errors?.lowervalidate">Password must contain a lowercase letter</mat-error>
                <mat-error *ngIf="password.errors?.numbervalidate">Password contains 1 number</mat-error>
                <mat-error *ngIf="password.errors?.specialvalidate">Password contains 1 special character</mat-error>
            </mat-form-field>

            <section class="mb-1">
                <mat-checkbox class="example-margin">Remember Me</mat-checkbox>
              </section>
            <button mat-raised-button color="accent" type="submit" class="btn-expanded" [disabled]="this.submitted">Create Account</button>
          </form>          
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-content style="padding-top: 1rem;">
            <div style="text-align: center;">
                <h3>Already have an account?</h3>
                <button mat-stroked-button type="submit" color="accent" class="btn-expanded" routerLink="/login">Go Login</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>