<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AnimeSeries</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            English Title
        </dt>
        <dd class = "col-sm-10">
            {{series?.englishTitle}}
        </dd>
        <dt class = "col-sm-2">
            Type
        </dt>
        <dd class = "col-sm-10">
            {{series?.type}}
        </dd>
        <dt class = "col-sm-2">
            Episodes
        </dt>
        <dd class = "col-sm-10">
            {{series?.episodes}}
        </dd>
        <dt class = "col-sm-2">
            Air Date
        </dt>
        <dd class = "col-sm-10">
            {{series?.releaseDate}}
        </dd>
        <dt class = "col-sm-2">
            Finish Date
        </dt>
        <dd class = "col-sm-10">
            {{series?.finishDate}}
        </dd>
    </dl>

    <button type="button" class="btn btn-danger" (click)="delete()">Delete</button> |
    <a routerLink="/admin/animeseries">Back to List</a>
</div>