<br />

<div class="container col-md-8 col-sm-12">
  
  <h2>Series Watch List</h2>

  <input type="text" placeholder="Search List" style="text-indent: 0.5em;
           border-radius: 6px;" class="form-control search-list">
  <i class="fas fa-search" style="position: relative; right: 1.6em;"></i>
  
  <a href="Javascript:void(0);">
    <i class="material-icons add-icon">
      add_box
    </i>
  </a>

    <div class="filter-container col-sm-12">
      <h5>Filter</h5> 
      <select id="inputState" class="form-control col-md-6">
        <option selected>None</option>
        <option>Title Ascending</option>
      </select>
    </div>
</div>
<div class="row col-md-12 col-sm-12" style="margin: 0 auto;">

  <div (click)="clicked()" class="col-md-4" style="background-color: gray; transition: transform 1s 0s;" [ngClass]="isClicked?'trans-clicked' : ''">
    <h3>TRANSFORM ME!</h3>
  </div>

  <div class="series-card col-sm-12 col-md-5 offset-md-1">
    <div style="    background-color: aliceblue;
    overflow: hidden;
    border-radius: 4px;
    padding: 4px;">

      <img src="https://img1.ak.crunchyroll.com/i/spire2/f67a9d25f1a79891bd8cc9e68bf6021c1435186459_full.jpg" class="rounded">
  
      <div class="series-info">
        <span class="series-info-text">
          <h3>Charlotte</h3>
          <p class="mb-1">Season: 1</p>
          <p class="mb-1">Episode: 10</p>
          <p class="mb-1">Status: Watching</p>
          

          <ul class="floating-mini-fab">
            <li (click)="clicked()">
              <i class="material-icons" style="color: whitesmoke;">more_vert</i>
            </li>
            <ul class="fab-actions">
              <li [ngClass]="isClicked ? 'fab-trans' : ''">
                <i class="material-icons" (click)="goToEdit()">create</i>
              </li>
              <li>
                <i class="material-icons">delete</i>
              </li>
              <li>
                <i class="material-icons">remove_red_eye</i>
              </li>
            </ul>
          </ul>

        </span>
      </div>
    </div>
  </div>

  <div class="series-card col-sm-12 col-md-5 offset-md-1">
    <div>
      <img src="https://img1.ak.crunchyroll.com/i/spire2/f67a9d25f1a79891bd8cc9e68bf6021c1435186459_full.jpg" class="rounded">
  
      <div class="series-info">
        <a href="Javascript:void(0);"><i class="material-icons" (click)="goToEdit()">create</i></a>
        <span class="series-info-text">
          <h3>Charlotte</h3>
          <p>Current Season: 1</p>
          <p>Current Episode: 10</p>
          <p>Release Year: 2019</p>
          <p>Status: Watching</p>
        </span>
      </div>
    </div>
  </div>

  <div class="series-card col-sm-12 col-md-5 offset-md-1">
    <div>
      <img src="https://img1.ak.crunchyroll.com/i/spire2/f67a9d25f1a79891bd8cc9e68bf6021c1435186459_full.jpg" class="rounded">
  
      <div class="series-info">
        <a href="Javascript:void(0);"><i class="material-icons" (click)="goToEdit()">create</i></a>
        <span class="series-info-text">
          <h3>Charlotte</h3>
          <p>Current Season: 1</p>
          <p>Current Episode: 10</p>
          <p>Release Year: 2019</p>
          <p>Status: Watching</p>
        </span>
      </div>
    </div>
  </div>

  <div class="series-card col-sm-12 col-md-5 offset-md-1">
    <div>
      <img src="https://img1.ak.crunchyroll.com/i/spire2/f67a9d25f1a79891bd8cc9e68bf6021c1435186459_full.jpg" class="rounded">
  
      <div class="series-info">
        <a href="Javascript:void(0);"><i class="material-icons" (click)="goToEdit()">create</i></a>
        <span class="series-info-text">
          <h3>Charlotte</h3>
          <p>Current Season: 1</p>
          <p>Current Episode: 10</p>
          <p>Release Year: 2019</p>
          <p>Status: Watching</p>
        </span>
      </div>
    </div>
  </div>

</div>