<!-- <br />

<div class="container col-md-8 col-sm-12">
  
  <h2>Series Watch List</h2>

  <input type="text" placeholder="Search List" style="text-indent: 0.5em;
           border-radius: 6px;" class="form-control search-list">
  <i class="fas fa-search" style="position: relative; right: 1.6em;"></i>
  
  <a href="Javascript:void(0);">
    <i class="material-icons add-icon">
      add_box
    </i>
  </a>

    <div class="filter-container col-sm-12">
      <h5>Filter</h5> 
      <select id="inputState" class="form-control col-md-6">
        <option selected>None</option>
        <option>Title Ascending</option>
      </select>
    </div>
</div>
<div class="row col-md-12 col-sm-12" style="margin: 0 auto;">

  <div class="series-card col-sm-12 col-md-5 offset-md-1">
    <div>

      <img *ngIf="series.imageData.length > 0" src="data:image/jpeg;base64,{{series.imageData}}" class="rounded">
  
      <div class="series-info">
        <a href="Javascript:void(0);"><i class="material-icons" (click)="goToEdit()">create</i></a>
        <span class="series-info-text">
          <h3>Charlotte</h3>
          <p>Current Season: 1</p>
          <p>Current Episode: 10</p>
          <p>Release Year: 2019</p>
          <p>Status: Watching</p>
        </span>
      </div>
    </div>
  </div>

  <div class="series-card col-sm-12 col-md-5 offset-md-1">
    <div>
      <img src="https://img1.ak.crunchyroll.com/i/spire2/f67a9d25f1a79891bd8cc9e68bf6021c1435186459_full.jpg" class="rounded">
  
      <div class="series-info">
        <a href="Javascript:void(0);"><i class="material-icons" (click)="goToEdit()">create</i></a>
        <span class="series-info-text">
          <h3>Charlotte</h3>
          <p>Current Season: 1</p>
          <p>Current Episode: 10</p>
          <p>Release Year: 2019</p>
          <p>Status: Watching</p>
        </span>
      </div>
    </div>
  </div>

  <div class="series-card col-sm-12 col-md-5 offset-md-1">
    <div>
      <img src="https://img1.ak.crunchyroll.com/i/spire2/f67a9d25f1a79891bd8cc9e68bf6021c1435186459_full.jpg" class="rounded">
  
      <div class="series-info">
        <a href="Javascript:void(0);"><i class="material-icons" (click)="goToEdit()">create</i></a>
        <span class="series-info-text">
          <h3>Charlotte</h3>
          <p>Current Season: 1</p>
          <p>Current Episode: 10</p>
          <p>Release Year: 2019</p>
          <p>Status: Watching</p>
        </span>
      </div>
    </div>
  </div>

  <div class="series-card col-sm-12 col-md-5 offset-md-1">
    <div>
      <img src="https://img1.ak.crunchyroll.com/i/spire2/f67a9d25f1a79891bd8cc9e68bf6021c1435186459_full.jpg" class="rounded">
  
      <div class="series-info">
        <a href="Javascript:void(0);"><i class="material-icons" (click)="goToEdit()">create</i></a>
        <span class="series-info-text">
          <h3>Charlotte</h3>
          <p>Current Season: 1</p>
          <p>Current Episode: 10</p>
          <p>Release Year: 2019</p>
          <p>Status: Watching</p>
        </span>
      </div>
    </div>
  </div>

</div>



<br><br>


<div style="
    background-color: blanchedalmond;
    padding: 5px;
    border-radius: 4px 4px 0 0;
    border-top: whitesmoke 2px solid;
    border-right: whitesmoke 2px solid;
    border-left: whitesmoke 2px solid;
    min-width: 300px;
" class="d-flex align-items-center">

    <h5 class="mr-auto" style="margin-bottom: 0;">List: Anime</h5>
    
    <div>
        <input type="text" placeholder="Search Series" style="text-indent: 0.5em;
         border-radius: 6px;">
        <i class="fas fa-search" style="position: relative; right: 1.6em;"></i>
    </div>
</div>
<table class="table" style="
    border-bottom: whitesmoke 2px solid;
    border-right: whitesmoke 2px solid;
    border-left: whitesmoke 2px solid;
">
    <thead>
      <tr>
        <th scope="col">Series <i class="fas fa-caret-down"></i></th>
        <th scope="col">Season</th>
        <th scope="col">Episode</th>
        <th scope="col">Status <i class="fas fa-caret-down"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr style="background-color: indianred;">
        <td>Charlotte</td>
        <td>1</td>
        <td>10</td>
        <td>watching</td>
      </tr>
      <tr style="background-color: lightyellow;">
        <td>Strike The Blood</td>
        <td>1</td>
        <td>9</td>
        <td>On Hold</td>
      </tr>
      <tr style="background-color: lightgreen;">
        <td>Domestic Girlfriend</td>
        <td>1</td>
        <td>12</td>
        <td>Finished</td>
      </tr>
    </tbody>
</table> -->