
// Define an alternate dark theme.
$dark-primary: mat-palette($mat-purple, 800);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
// $dark-accent:  mat-palette($mat-grey, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
    warn: $dark-warn,
  )
));

@include angular-material-color($dark-theme);
