<div class="col-md-8 col-sm-12 container">
    <div class="head">
        <i class="fas fa-arrow-left back-arrow"></i>
        <h2>Edit: Charlotte</h2>
        <i class="fas fa-save save-button"></i>
    </div>
    <hr>
    <div class="content">
        <img src="https://img1.ak.crunchyroll.com/i/spire2/f67a9d25f1a79891bd8cc9e68bf6021c1435186459_full.jpg" height="280px" width="200px" alt="">
        <span class="series-info">
            <p>Current Episode</p>
            <select class="custom-select col-md-3">
                <option selected>1</option>
                <option value="1">2</option>
                <option value="2">3</option>
                <option value="3">4</option>
              </select>
            <p>Current Season</p>
            <select class="custom-select col-md-3">
                <option selected>1</option>
                <option value="1">2</option>
                <option value="2">3</option>
                <option value="3">4</option>
              </select>
            <p>Status</p>
            <select class="custom-select col-md-3">
                <option selected>Watching</option>
                <option value="1">Finished</option>
                <option value="2">Pending</option>
              </select>
            <span class="year-container">
                <p>Release Year: 2019</p>
                <p>Ending Year: 2019</p>
            </span>
        </span>
    </div>
    <div class="description">
        <h4>Synopsis</h4>
        <p>Very few adolescent boys and girls have an onset of special abilities. Yu Otosaka is one such man...</p>
    </div>

</div>
