.filter-container {
    display: inline-flex;
    margin-top: 16px;
    margin-bottom: 16px;
    align-items: center;
    padding: 0;
}

.container h2 {
    text-align: center;
}

.filter-container h5 {
    padding-right: 8px;
    margin-bottom: 4px;
}

.search-list {
    width: 80%;
    display: inline-flex;
}

.add-icon {
    float:right;
    line-height: 32px;
    font-size: 2.4em; 
    color: cornflowerblue;
}

.series-card {
    margin-top: 12px;
    background-color: cornflowerblue;
    border-radius: 8px;
    overflow: hidden;
    padding: 4px;
}

.series-card div {
    background-color: aliceblue;
    overflow: hidden;
    border-radius: 4px;
    padding: 4px;
}

.series-card .series-info {
    margin-top: 8px;
    margin-left: 142px;
}

.series-card img {
    float: left;
    height: 180px;
    margin: 4px;
}

.series-card a {
    float: right;
    font-size: 18px;
    margin-top: 2px;
}

.series-card .series-info .series-info-text {
    margin-top: 8px;
}

p {
    margin: 0;
}