<div fxLayout="column" fxFlex="grow" fxFlexFill>
    <mat-toolbar [color]="'primary'">
        <button (click)="sidenav.toggle()" mat-icon-button fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>
        <span style="cursor: pointer;">Series Lister</span>
        <span class="toolbar-spacer"></span>
        <ng-template [ngIf]="auth.userHandler.isUserExisting()" [ngIfElse]="showLogin">
            <button mat-button>
                Dashboard
              </button>
              <button mat-button (click)="auth.logout()">
                Logout
              </button>
        </ng-template>
        <ng-template #showLogin>
            <button mat-button routerLink="/register">
                Register
              </button>
              <button mat-button routerLink="/login">
                Login
              </button>
        </ng-template>
        <button mat-icon-button [matMenuTriggerFor]="themeMenu">
            <mat-icon>invert_colors</mat-icon>
        </button>
    </mat-toolbar>
    <!-- The Sidenav -->
    <mat-sidenav-container fxFlex="100">
        <mat-sidenav #sidenav mode="over">
          Sidenav content
        </mat-sidenav>
      
        <mat-sidenav-content fxFlex="grow">
          <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>

<mat-menu #themeMenu="matMenu">
    <button mat-menu-item (click)="themeService.setTheme(ThemeType.LIGHT)">
        <mat-icon *ngIf="!themeService.isThemeDark()">check</mat-icon>
        <span>Light</span>
    </button>
    <button mat-menu-item (click)="themeService.setTheme(ThemeType.DARK)">
        <mat-icon *ngIf="themeService.isThemeDark()">check</mat-icon>
        <span>Dark</span>
    </button>
</mat-menu>

<!-- <header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
      <div class="container">
          <a class="navbar-brand" routerLink="/">Series Lister</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                  aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav">
                <ng-template [ngIf]="auth.userHandler.isUserExisting()" [ngIfElse]="showLogin">
                    <li class="nav-item">
                        <a id="manage" class="nav-link text-dark" title="Manage">Hello {{auth.userHandler.getUser().email}}!</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-link text-dark" (click)="auth.logout()">Logout</a>
                    </li>
                </ng-template>
                <ng-template #showLogin>
                    <li class="nav-item">
                        <a class="nav-link text-dark" id="register" routerLink="/register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" id="login" routerLink="/login">Login</a>
                    </li>
                </ng-template>
                </ul>
              <ul class="navbar-nav flex-grow-1">
                  <li class="nav-item">
                      <a class="nav-link text-dark" routerLink="/">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link text-dark" routerLink="/privacy">Privacy</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-dark" (click)="transition()">Switch</a>
                </li>
              </ul>
          </div>
      </div>
  </nav>
</header> -->